<h2>Categories List</h2><br>
<a href="/admin/categories/add"><button class="btn btn-success">+ Add a new category</button></a>
<br>
<br>
{{#each categories}}
    <div class="card">
        <div class="card-body">
            <h4>{{nome}}</h4>
            <small>Slug: {{slug}}</small><br>
            <small>Date: {{date}}</small><br>
            <hr>
            <p>{{description}}</p><br>
            <table>
                <tr>
                    <td>
                        <a href="/admin/categories/edit/{{_id}}" class="btn btn-primary mt-2"> Edit</a>
                    </td>
                    <td>
                        <form action="/admin/categories/delete" method="POST">
                            <input type="hidden" name="id" value="{{_id}}">
                            <button type="submit" class="btn btn-danger mt-2 mx-3"> Delete </button>
                        </form>
                    </td>
                </tr>
            </table>

        </div>
    </div>
    <br>
{{else}}
    <div class="card">
        <div class="card-body">
            <h3>No Categories found!</h3>
        </div>
    </div>
{{/each}}