{{#each erros}}
    <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}

<h3 class="mb-5">Edit Category</h3>
<form action="/admin/categories/edit" method="POST">
    <input type="hidden" name="id" value="{{category._id}}">
    <div class="mb-3">

        <h4>Name: </h4>
        <label for="name" class="form-label">Edit name: </label>
        <input name="name" type="text" class="form-control sm" id="name" value="{{category.nome}}">
    </div>
    <div class="mb-3">
        <h4>Slug: </h4>
        <label for="slug" class="form-label">Edit slug: </label>
        <input name="slug" type="text" class="form-control sm" id="slug" value="{{category.slug}}">
    </div>
    <div class="mb-3">
        <h4>Description: </h4>
        <label for="description" class="form-label">Edit description: </label>
        <textarea name="description" type="text" class="form-control sm" id="description" >{{category.description}}</textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>